:root{

/* ================ COLORES ================ */

    --color-text: #dfeeff;
    --color-remark: #fdde2d;
    --color-background: #091933 radial-gradient(circle,rgba(12, 36, 71, 1) 0%, rgba(6, 8, 20, 1) 100%);

}