html {
    font-family: "Roboto", sans-serif;
}

@media (min-width: 769px) {

    body {    
        background: var(--color-background);
        height: 100vh;
        color: var(--color-text) !important;

        .navbar a {
                color: var(--color-text) !important;
                font-size: 16px;
            }
    }

    .navbar.scrolled {
        background-color: rgba(0, 0, 0, 0.2) !important;
        transition: background-color 0.3s ease;
        backdrop-filter: blur(8px)
    }

    main {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        p {
            font-size: 18px;
        }

        #home {
            display: flex;
            justify-content: center;
        }

        section {
            padding-top: 4rem;
        }


        .btn-outline-light {
            border: 1px solid #ffffff44;
            transition: all 0.3s ease;
        }

        .btn-outline-light:hover {
            background-color: #ffffff22;
            border-color: white;
            color: white;
        }

        .container-tech-card {
            
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 12px;
            width: 30%;
            
            .tech-card {
                width: 6em;
                height: 6em;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease;
                
                
                .tech-icon {
                    width: 2rem;
                }
            }
        }

        .tech-card-project {
            width: 1.5rem;
        }

        #myProjects img {
            border-radius: 3px;
        }
        
        .project-container-rest {
            width: 60%;
        }

        .project-container-img {
            width: 40%;
        }

        .contact-container {
            gap: 1rem;
            padding-bottom: 4rem;
        }
    }
}

@media (max-width: 768px) {

    body {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        background: var(--color-background);
        height: 100vh;
        color: var(--color-text) !important;

        section {
            padding-top: 2rem;

        }

        .stack-container {
            display: flex;
            flex-direction: column;
            width: 100%;

        }

        .container-tech-card {
            width: 100%;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 12px;

        }
        .tech-icon {
            width: 2rem;
            object-fit: contain;
        }

        .stack-container {
            display: flex;
            flex-direction: column;
        }

        .project-container-rest {
            margin-top: 0;
        }

        .project-container-rest-descript {
            padding: 1rem;
        }

        .contact-container {
            gap: 0.5rem;
            padding-bottom: 2rem;
        }
    }
    
}