html {
    font-family: "Roboto", sans-serif;
}

.navbar-nav a {
    color: var(--color-text) !important;
    font-size: 16px;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, max-content));
    gap: 1rem;
    justify-content: start;
}

@media (max-width: 768px) {

    .burgerMenu {
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        padding: 1rem 0 0 1rem;
        width: 2.5rem;
    }

    header .navbar {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        left: 0;
        padding-top: 0;
        background-color: rgba(0, 0, 0, 0.2) !important;
        transition: background-color 0.3s ease;
        backdrop-filter: blur(30px);
    }

    .navbar.visible {
        visibility: visible;
    }

    #closeButton {
        display: block;
        align-self: flex-end;
        margin: 1rem;
        background: transparent;
        border: none;
        color: var(--color-text);
        cursor: pointer;
    }
    
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    body {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        background: var(--color-background);
        height: 100vh;
        color: var(--color-text) !important;

        section {
            padding-top: 2rem;
        }

        .navbar-nav {
            gap: 1rem;
        }

        .stack-container {
            display: flex;
            flex-direction: column;
            width: 100%;

        }

        .container-tech-card {
            width: 100%;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 12px;
            background-color: rgba(101, 101, 101, 0.1) !important;
            backdrop-filter: blur(30px);
            

            .tech-card {
                width: 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 80%;
                }
                p {
                    font-size: 90%;
                }
               
            }

        }

        .project-container-rest {
            margin-top: 0;
        }

        .tech-card-project img{
            width: 8%;
        }

        .project-container-rest-descript {
            padding: 1rem;
        }

        .contact-container {
            gap: 0.5rem;
            padding-bottom: 2rem;
        }
    }
    
}

@media (min-width: 769px) {

    nav.scrolled {
        background-color: rgba(0, 0, 0, 0.2) !important;
        transition: background-color 0.3s ease;
        backdrop-filter: blur(8px)
    }

    body {    
        background: var(--color-background);
        height: 100vh;
        color: var(--color-text) !important;
    }

    .burgerMenu, #closeButton {
        display: none;
    }

    .navbar {
        display: flex;
        
        .navbar-nav {
            gap: 2rem;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            justify-content: center;
        }
    }

    main {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        p {
            font-size: 18px;
        }

        #home {
            display: flex;
            justify-content: center;
        }

        section {
            padding-top: 4rem;
        }


        .btn-outline-light {
            border: 1px solid #ffffff44;
            transition: all 0.3s ease;
        }

        .btn-outline-light:hover {
            background-color: #ffffff22;
            border-color: white;
            color: white;
        }

        .container-tech-card {
            
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 12px;
            width: 30%;
            background-color: rgba(101, 101, 101, 0.1) !important;
            backdrop-filter: blur(30px);
            
            .tech-card {
                width: 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 80%;
                }
                p {
                    font-size: 90%;
                }
               
            }
        }

        .tech-card-project {
            width: 1.5rem;
        }

        #myProjects img {
            border-radius: 3px;
        }
        
        .project-container-rest {
            width: 60%;
        }

        .project-container-img {
            width: 40%;
        }

        .contact-container {
            gap: 1rem;
            padding-bottom: 4rem;
        }
    }
    
}


