html {
    font-family: "Roboto", sans-serif;
}

body {    
    background: var(--color-background);
    height: 100vh;
    color: var(--color-text) !important;

    .navbar a {
            color: var(--color-text) !important;
            font-size: 16px;
        }
}

main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    p {
        font-size: 18px;
    }

    #home {
        display: flex;
        justify-content: center;
    }

    .btn-outline-light {
        border: 1px solid #ffffff44;
        transition: all 0.3s ease;
    }

    .btn-outline-light:hover {
        background-color: #ffffff22;
        border-color: white;
        color: white;
    }

    .tech-card {
        width: 100px;
        height: 100px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        
        .tech-card p {
            margin-top: 0.5rem;
            font-size: 0.8rem;
            font-weight: 500;
            color: black;
            line-height: 1;
        }
        
        .tech-icon {
            width: 36px;
            height: 36px;
            object-fit: contain;
        }
    }

    .tech-card:hover {
            background-color: #ffffff22;
            border-color: white;
            color: white;
        }

    .tech-card-project {
        width: 1.5rem;
    }

    #myProjects img {
        border-radius: 3px;
    }
    
}